.gallery-tablink {
    border-top: 1px solid #c9c9c9;
    margin-top: 1em;
    justify-content: center;
    column-gap: 1em;
}

.gallery-tablink > a {
    text-decoration: none;
    color: black;
    padding: .5em;
}

.gallery-tablink > .active {
    font-weight: bold;
}

.gallery-tablink > a:hover {
    background-color: #f3f3f3;
}

.gallery-tablink > a:active {
    background-color: #c9c9c9;  
    color: #0099ff;
}


.gallery-grid {
    display: flex;
    justify-content: flex-start;
    column-gap: 5%;
    row-gap: 1em;
    flex-wrap: wrap;
}

.gallery-frame {
    width: 30%;
    position: relative;
    height: 0;
    padding-bottom: 30%;
}

.gallery-frame > img {
    width: 100%;
}

.gallery-iteminfo {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0;
    opacity: 0;
    font-weight: bold;
    color: white;
    justify-content: center;
    flex-direction: column;
}

.gallery-iteminfo:hover {
    opacity: 1;
    background-color: rgba(0,0,0, 0.5);
}

.gallery-iteminfo img {
    width: 20px;
}

.gallery-iteminfo span {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.btn-add-desktop {
    border-radius: 8px;
    border: 2px solid #3652f4;
    background: #3652f4;
    color: white;
    margin-top: .1em;
    transition: .5s;
}

.btn-add-desktop:hover {
    background: white;
    color: #3652f4;
    box-shadow: 0 0 6px #3652f4;
}

@media screen and (max-width: 480px) {

    .gallery-frame {
        width: 100%;
        height: auto;
        padding-bottom: 0;
    }

    .gallery-iteminfo {
        position: relative;
        justify-content: space-between;
        font-weight: bold;
        opacity: 1;
        width: auto;
        height: auto;
        color: black;
        font-weight: 100;
        flex-direction: row;
    }

    .gallery-iteminfo span {
        margin-bottom: 0;
    }

    .gallery-iteminfo:hover {
        background-color: transparent;
    }

    .eth{
        content: url("https://cdn.icon-icons.com/icons2/1384/PNG/512/eth-crypto-cryptocurrency-cryptocurrencies-cash-money-bank-payment_95149.png");
    }

    .btn-add-desktop {
        display: none;
    }
}
